.Button {
  background: lightcoral;
  color: whitesmoke;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  font-weight: bold;
  margin-left: 20px;
}

.TextBox {
  margin-top: 30px;
}
.Form {
  margin-top: 30px;
}

.quality {
  margin-top: 5px;
  margin-left: 100px;
}
